<div class="py-2 flex justify-center gap-3 items-center">
  <%= render "avatar", user: hike_participant.user %>
  <div>
    <div class="text-gray-700"><%= hike_participant.user.preferred_name.present? ? hike_participant.user.preferred_name : hike_participant.user.full_name %></div>
    <div class="text-gray-400"><%= number_to_phone(hike_participant.user.phone_no, area_code: true) %></div>
  </div>
</div>
