<div class="w-full">
  <div class="mt-4">
    <h1 class="font-bold text-2xl">Upcoming Hikes</h1>
    <%#= link_to "New hike", new_hike_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <div id="hikes" class="min-w-full">
      <% if @hikes.empty? %>
        <p class="text-gray-500">No upcoming hikes</p>
      <% end %>
      <% @hikes.each do |hike| %>
        <%= render partial: "hikes/mini_hike", hike: hike %>
      <% end %>
    </div>
  </div>
</div>
