<%= turbo_frame_tag "new_hike_subscription" do %>
  <div class="my-6 text-center">
    <% if @user.subscribed?(hike) %>
      <h2>You are subsribed to receive notifications when a new car is added to this hike.</h2>
      <%= button_to "Unsubscribe", subscribe_hike_path(hike), method: :delete, class: "rounded-lg py-3 px-5 bg-red-100 hover:bg-red-200 inline-block font-medium" %>
    <% else %>
      <% if @user.allowed_notifications? %>
        <h2>Subscribe to receive notifications when a new car is added to this hike.</h2>
        <% if @session.push_endpoint.nil? %>
          <h2> Notifications are not enabled on this device, however another device you use has notifications enabled. </h2>
        <% end %>
        <%= button_to "Subscribe", subscribe_hike_path(hike), method: :post, class: "rounded-lg py-3 px-5 bg-blue-100 hover:bg-blue-200 inline-block font-medium" %>
      <% else %>
        <h2>Please allow notifications to be able to receive them when a new car is added to this hike.</h2>
      <% end %>
    <% end %>
  </div>
<% end %>