<div class="w-11/12 mx-auto">
  <div class="mt-4">
    <h1 class="font-bold text-2xl mb-4 text-center">Upcoming Hikes</h1>
    <%#= link_to "New hike", new_hike_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <div id="upcoming_hikes" class="min-w-full flex flex-wrap gap-5">
      <% if @upcoming_hikes.empty? %>
        <p class="text-gray-500">No upcoming hikes</p>
      <% else %>
        <% @upcoming_hikes.each do |hike| %>
          <%= render "hike_card", hike: hike %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mt-4">
    <h1 class="font-bold text-2xl mb-4 text-center">Past Hikes</h1>
    <%#= link_to "New hike", new_hike_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <div id="past_hikes" class="min-w-full gap-5">
      <% if @past_hikes.empty? %>
        <p class="text-gray-500">No past hikes</p>
      <% else %>
        <div class="w-full flex flex-wrap">
          <% @past_hikes.each do |hike| %>
            <%= render "hike_card", hike: hike %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="flex justify-center mb-6">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>
