<div class="text-center mx-auto max-w-lg rounded-lg bg-white shadow my-6">
  <div class="p-4">
    <h3 class="text-xl font-medium text-gray-900 mb-6">Not authorized to access this site!</h3>
    <p class="mt-1 text-gray-500">Please use your UCSD Google account to sign in. The email you have used to sign in is </p>
    <%= @user.email %>
    <p class="mt-1 text-gray-500 mt-6">If you do not have a UCSD Google account, please contact the board members of the UCSD Hiking Club on Discord to request access.</p>
  </div>
</div>