<%= form_with(model: [ @hike_car.hike, @hike_car ], class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :car_id %>
    <%= form.select :car_id, @user.cars.map{|c| [c.make + ' ' + c.model]} %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
