<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing hike car</h1>

  <%= render "form", hike_car: @hike_car %>

  <%= link_to "Show this hike car", @hike_car, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to hike cars", hike_cars_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
