<%= turbo_frame_tag dom_id(@hike_car), target: "_top" do %>
  <h2 class="font-semibold mt-6 text-2xl text-center"> Edit your car details </h2>
  <%= render "form", hike_car: @hike_car, edit: true %>
  <div id="<%= dom_id(@hike_car) %>_participants" class="w-full items-center justify-center bg-white text-sm text-center text-gray-500">
    <%= render @hike_car.participants %>
  </div>
<% end %>
