<div data-navbar-target="sidebar" class="hidden absolute md:flex lg:items-center z-10 mt-2 w-56 divide-y divide-gray-100  lg:gap-6 mt-2 w-56 rounded-md border border-gray-100 bg-white shadow-lg">
  <nav aria-label="Global">
    <ul class="space-y-1">
      <% for item in menu_items %>
        <li>
          <%= link_to item[:title], item[:url], class:"block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700" %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>