<!DOCTYPE html>
<html>
  <head>
    <title>UCSD Hiking</title>
    <%= render "meta" %>
  </head>
  <body>
    <%= render "navbar" %>
    <%= render "flash" %>
    <main class="container mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
