<!DOCTYPE html>
<html>
  <head>
    <title>UCSD Hiking</title>
    <%= render "meta" %>
  </head>
  <body>
    <%= render "navbar" %>
    <turbo-frame id="flash">
      <%= render "flash" %>
    </turbo-frame>
    <main class="container mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
